{
  "presets": [
    ["env", {
      "modules": false,
      "targets": {
        "browsers": ["> 1%", "last 2 versions", "not ie <= 8"]
      }
    }],
    "stage-2"
  ],
  "plugins": ["transform-vue-jsx", "transform-runtime",
    [
      "prismjs",
      {
        "languages": ["html", "css", "javascript", "dart", "bash", "java", "python"],
        "plugins": ["line-numbers", "copy-to-clipboard"], // 使用了行号还可以添加其他插件，具体去官网看看吧
        "theme": "okaidia",
        "css": true
      }
    ]
  ],
  "env": {
    "test": {
      "presets": ["env", "stage-2"],
      "plugins": ["transform-vue-jsx", "transform-es2015-modules-commonjs", "dynamic-import-node"]
    }
  }
}
