[class^="icon-vue-"], [class*="icon-vue-"]
{
    font-family:"iconfont" !important;
    font-size:32px;
    font-style:normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}